/* font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


body {
    background-color: rgba(209, 225, 247, 0.21);;
}

.railwayfont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.interfontfamily {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  padding: 0;
  margin: 0;
}

.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  padding: 12px 36px;
 
}

.btn-primary:hover {
    background-color: #00772a;
    cursor: pointer;
}

.action-section-title {
  color: #252432;
  font-size: 42px;
  font-weight: 700;
}

.action-section-description {
  color: #25243280;
  font-size: 24px;
  margin: 24px 0;
}
